@model IEnumerable<DAL.orders>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="main-content-container container">
    <div class="row">

        <div class="col-md-12">
            <div id="content" class="main-content-inner" role="main">


                <article id="post-1707" class="post-1707 page type-page status-publish entry">

                    <div class="entry-content">

                        <div class="woocommerce">
                            <div class="woocommerce-notices-wrapper"></div>
                            <form class="woocommerce-cart-form" method="post">

                                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="product-remove">&nbsp;</th>
                                            <th class="product-thumbnail">&nbsp;</th> 
                                            <th class="product-name">用户名</th>
                                            <th class="product-quantity">书名</th>
                                            <th class="product-price">价钱</th>
                                            <th class="product-quantity">ISBN</th>
                                            <th class="product-subtotal">日期</th>
                                            <th class="product-name">状态</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            <tr class="woocommerce-cart-form__cart-item cart_item">

                                                <td class="product-remove">
                                                    <a href="/orders/Delete/@item.order_id" class="remove" aria-label="Remove this item" data-product_id="99" data-product_sku="">&times;</a>
                                                </td>

                                                <td class="product-thumbnail">
                                                    <a href="/Home/BookDetail/@item.book_id"><img width="250" height="333" src="~/Content/Images/book/@item.books.picname" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" /></a>
                                                </td>
                                                <td class="product-name" data-title="Product">
                                                    @Html.DisplayFor(modelItem => item.username)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.books.title)
                                                </td>
                                                <td class="product-price" data-title="Price">
                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>@Html.DisplayFor(modelItem => item.price)</span>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.books.ISBN)
                                                </td>
                                                <td class="product-name">
                                                    @Html.DisplayFor(modelItem => item.order_date)
                                                </td>
                                                <td class="product-name">
                                                    @Html.Encode( item.status==1?"已生成订单":"未生成订单")
                                                </td>
                                                <td class="product-thumbnail"> 
                                                    <a href="/orders/Details/@item.order_id">Details</a>
                                                    |
                                                    <a href="/orders/Delete/@item.order_id">Delete</a>
                                                      
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="6" class="actions">
                                           <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="" /><input type="hidden" name="_wp_http_referer" value="" />
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </form>
                </article>
            </div>
        </div>
    </div>
</div>


