@model DAL.books

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<!DOCTYPE html>
<html lang="en-US">

<head>

    <link rel='stylesheet' id='photoswipe-css' href="~/Content/plugins/woocommerce/assets/css/photoswipe/photoswipe.css" type='text/css' media='all' />
    <link rel='stylesheet' id='photoswipe-default-skin-css' href="~/Content/plugins/woocommerce/assets/css/photoswipe/default-skin/default-skin.css" type='text/css' media='all' />
    <style>
        .input {
            min-width: 60px;
            padding: 7px 0 7px 12px;
            border: 1px solid #dddddd;
            border-radius: 3px;
            text-align: center;
        }

        .woocommerce .quantity .qty {
            width: 3.631em;
            text-align: center;
        }
    </style>
</head>

<body class="product-template-default single single-product postid-96 woocommerce woocommerce-page woocommerce-no-js header-large ltr wpb-js-composer js-comp-ver-5.4.5 vc_responsive columns-4">

    <div class="site-wrap">



        <section id="page-title" class="page-title">
            <div class="container">



                <h2>Bookstore</h2>


                <nav class="woocommerce-breadcrumb"> <a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml>Home</a></nav>
            </div>
        </section>

        <div class="books-search">
            <div class="container">
                <form class="" method="get" action="~/Home/BookSeach">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <input name="s" value="" type="text" class="form-control" id="keyword" placeholder="Book Title">
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <select name='product_cat' id='product_cat' class='form-control'>
                                    <option value='0'>Book Category</option>
                                    <option class="level-0" value="drama">Drama</option>
                                    <option class="level-1" value="inspiration">&nbsp;&nbsp;&nbsp;Inspiration</option>
                                    <option class="level-1" value="love-story">&nbsp;&nbsp;&nbsp;Love Story</option>
                                    <option class="level-0" value="life-style">Life Style</option>
                                    <option class="level-1" value="business">&nbsp;&nbsp;&nbsp;Business</option>
                                    <option class="level-1" value="culture">&nbsp;&nbsp;&nbsp;Culture</option>
                                    <option class="level-0" value="science">Science</option>
                                </select>
                                <i class='select-arrow fa fa-angle-down'></i>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <select name='book_author' id='book_author' class='form-control'>
                                    <option value='0'>Book Author</option>
                                    <option class="level-0" value="">未实现</option>
                                </select>
                                <i class='select-arrow fa fa-angle-down'></i>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group">
                                <input type="hidden" name="post_type" value="product" />
                                <button type="submit" class="btn btn-primary btn-block">
                                    <i class="fa fa-search"></i> &nbsp;
                                    Find Book
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="main-content-container container">
            <div id="content" class="main-content-inner" role="main">
                <div class="woocommerce-notices-wrapper"></div>
                <div id="product-96" class="post-96 product type-product status-publish has-post-thumbnail product_cat-business product_cat-life-style product_tag-dream product_tag-money first instock downloadable shipping-taxable purchasable product-type-simple">
                    <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4" style="opacity: 0; transition: opacity .25s ease-in-out;">
                        <figure class=" woocommerce-product-gallery__wrapper">
                            <div data-thumb="/Content/Images/book/@Model.picname" class="woocommerce-product-gallery__image">
                                <img width="416" height="555" src="~/Content/Images/book/@Model.picname" class="wp-post-image" alt="" title="@Model.picname" data-caption="" data-src="/Content/Images/book/@Model.picname" data-large_image="/Content/Images/book/@Model.picname" data-large_image_width="750" data-large_image_height="1000" />
                            </div>
                            <div data-thumb="/Content/Images/book/@Model.picname" class="woocommerce-product-gallery__image">
                                <a href="/Content/Images/book/@Model.picname">
                                    <img width="416" height="555" src="/Content/Images/book/@Model.picname" class="" alt="" title="book-21" data-caption="" data-src="/Content/Images/book/@Model.picname" data-large_image="/Content/Images/book/@Model.picname" data-large_image_width="750" data-large_image_height="1000" />
                                </a>
                            </div>
                        </figure>
                    </div>
                    <div class="summary entry-summary">
                        <h1 class="product_title entry-title">@Html.DisplayFor(model => model.title)</h1>
                        <div class="product-offer-box">
                            <p class="price" style="font-size:3em"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>@Html.DisplayFor(model => model.price)</span></p>
                           @using (Html.BeginForm())
                           {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                           }
                        </div>
                        <div class="product_meta">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="book-details">
                                        <h3>Book Details</h3>
                                        <table class="shop_attributes">
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.ISBN)</th>
                                                <td>
                                                    <p>@Html.DisplayFor(model => model.ISBN)</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.author)</th>
                                                <td>
                                                    <p>@Html.DisplayFor(model => model.author)</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.version)</th>
                                                <td>
                                                    <p>@Html.DisplayFor(model => model.version)</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.pubdate)</th>
                                                <td>
                                                    <p>@Html.DisplayFor(model => model.pubdate)</p>
                                                </td>
                                            </tr>

                                        </table>
                                        <div class="book-authors">
                                            <h3>书籍简介</h3>
                                            <p>@Html.DisplayFor(model => model.introdu)</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="section-book-details clearfix">

                    </div>
                </div>
            </div>

        </div>

    </div>

    <script type='text/javascript'>
/* <![CDATA[ */
var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes","flexslider":{"rtl":false,"animation":"slide","smoothHeight":true,"directionNav":false,"controlNav":"thumbnails","slideshow":false,"animationSpeed":500,"animationLoop":false,"allowOneSlide":false},"zoom_enabled":"1","zoom_options":[],"photoswipe_enabled":"1","photoswipe_options":{"shareEl":false,"closeOnScroll":false,"history":false,"hideAnimationDuration":0,"showAnimationDuration":0},"flexslider_enabled":"1"};
/* ]]> */
    </script>



    <script type='text/javascript' src="~/Content/plugins/woocommerce/assets/js/zoom/jquery.zoom.min.js"></script>
    <script type='text/javascript' src="~/Content/plugins/js_composer/assets/lib/flexslider/jquery.flexslider-min.js"></script>
    <script type='text/javascript' src="~/Content/plugins/woocommerce/assets/js/photoswipe/photoswipe.min.js"></script>
    <script type='text/javascript' src="~/Content/plugins/woocommerce/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>

    <script type='text/javascript' src="~/Content/plugins/woocommerce/assets/js/frontend/single-product.min.js"></script>
    <script type='text/javascript' src="~/Content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js"></script>

    <script type='text/javascript' src="~/Content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js"></script>


    <script type='text/javascript' src="~/Content/include/comment-reply.min.js"></script>
    <script type='text/javascript' src="~/Content/plugins/theme/bookie/script.js"></script>
    <script type='text/javascript' src="~/Content/plugins/wp-embed.min.js"></script>

</body>
</html>

    

